<h2 class ="text-light"> Les jeux que vous empruntez actuellement</h2>
<div class='d-flex flex-wrap rented'>
  <%@active_orders.each do |order|%>
    <%order.renting.each_with_index do |rent, index|%>
      <%if rent%>
        <%if order.copies[index].return%>
        <%if order.copies[index].return > Time.now%>
          <div class='card col-3'>
            <% if order.copies[index].game.image.attached? %>
              <div class='card-img-top'><%= image_tag url_for(order.copies[index].game.image), size: "200x200" %></div>
            <%else%> 
              <div class='card-img-top'><img src="../assets/no_photo.svg" height="200" width="200" alt="pas de photos"></div>
            <%end%>
            <div class="card-body">
              <h5 class="card-title"><%=order.copies[index].game.title%></h5>
              <p class='card-text'>
                A retourner avant le <%=order.return%>
                <br/>Contact propriétaire: <%=order.copies[index].user.username%>, <%=order.copies[index].user.email%>.
                </p>
            </div>
          </div>
        <%else%>
          <div class='card col-3 bg-dark text-white'>
            <% if order.copies[index].game.image.attached? %>
              <div class='card-img-top'><%= image_tag url_for(order.copies[index].game.image), size: "200x200" %></div>
            <%else%> 
              <div class='card-img-top'><img src="../assets/no_photo.svg" height="200" width="200" alt="pas de photos"></div>
            <%end%>
            <div class="card-body">
              <h5 class="card-title"><%=order.copies[index].game.title%></h5>
              <p class='card-text'>
              Contact propriétaire: <%=order.copies[index].user.username%>, <%=order.copies[index].user.email%>.<br/>                              Jeu à rendre /!\
              </p>
            </div>
          </div>
        <%end%>
        <%end%>
      <%end%> 
    <%end%>
  <%end%>
</div>