<div class = 'card card-tot d-flex flex-column'>
  <h2>Selection du <%=@order.created_at.localtime.to_date.to_s%></h2>
  <p>&nbsp;</p>
	<h4>Vous avez payé <%= @order.price  %> $</h4>
  <h4> La commande contient :</h4>
  <div class = "d-flex flex-wrap justify-content-center">
  <%@order.copies.each_with_index do |copy, index|%>
    <div id='item_<%index%>' class =' col-3 d-flex flex-row align-items-center card card-command'>
      <p><%=@order.number_week[index]%> semaine avec  <%= copy.game.title  %></p>
    </div>&nbsp;
  <%end%>
  </div>
  <p>&nbsp;</p>
	<h4> <br/>Date de la commande: <%=@order.created_at.to_s%></h4>
</div>
