<!-- Listing Sidebar -->
<div class="col-12 col-md-8 col-lg-4">
    <div class="listing-sidebar">

        <!-- Listing Verify -->
        <div class="listing-verify">
            <a data-toggle="modal" href="#modalChoice" class="btn dorne-btn w-100"><i class="fa fa-check pr-3"></i>
                <% if @game.copies.count==0 %>
                    Aucune copie disponible</a>
                <% elsif @game.copies.count==1 %>
                    Voir la copie disponible</a>
                    <%= render 'modalchoice' %>
                <% else %>
                    Voir les <%= @game.copies.count %> copies disponibles</a>
                    <%= render 'modalchoice' %>
                <%end%>
        </div>
        <!-- Book A Table Widget -->
        <div class="book-a-table-widget mt-50">
            <h6 style="font-family:pacifico;font-size:30px;">Une autre envie ?</h6>
            <form action="#" method="get">
                <a id="search-btn" href="#"><button type="submit" class="btn dorne-btn bg-white text-dark"><i class="fa fa-search pr-2" aria-hidden="true"></i> Rechercher un jeu</button></a>
                <br>
            </form>
        </div>

        <!-- Book A Table Widget -->
        <div class="book-a-table-widget mt-50">
            <h6 style="font-family:pacifico;font-size:30px;"> Suivez-nous !</h6>
            <form action="#" method="get">
                <h6> Plus la communauté est grande plus il y a de fun !<h6>
                <a href="https://fr-fr.facebook.com/thehackingproject/" class="iconsize">
                <%=image_tag("icon-x.png" )%>
                </a>
                <a href="https://twitter.com/project_hacking" class="iconsize">
                <%=image_tag("icon-y.png" )%>
                </a>
            </select>
            </form>
        </div>


    </div>
</div>