<div class="row h-100 align-items-center justify-content-center">
  <div class="col-12 col-md-10">
		<!-- Hero Search Form -->
		<div class="hero-search-form">
			<!-- Tabs Content -->
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade show active" id="nav-places" role="tabpanel" aria-labelledby="nav-places-tab">
				  <div class="row">
    				<div class="col">
							<h6>Choisis un jeu</h6>
							<form action="#" method="get">
								<select class="custom-select">
									<option selected>Nom du jeu</option>
									<% @games.each do |game| %>
										<option value="game.id"><%= game.title %></option>
									<% end %>
								</select>
								<button type="submit" class="btn dorne-btn"><i class="fa fa-search pr-2" aria-hidden="true"></i> Valider</button>
							</form>
						</div>

						<div class="col">
							<h6>Choisis une catégorie</h6>
							<form action="#" method="get">
								<select class="custom-select">
									<option selected>Catégorie</option>
									<% @games.each do |game| %>
										<% game.categories.each do |category| %>
											<option value="category.id"><%= category.title %></option>
										<% end %>
									<% end %>
								</select>
								<button type="submit" class="btn dorne-btn"><i class="fa fa-search pr-2" aria-hidden="true"></i> Valider</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ***** Listing Destinations Area Start ***** -->
<section class="dorne-listing-destinations-area section-padding-100-50">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-heading dark text-center">
					<span></span>
					<h4>Nos jeux</h4>
					<p>Seulement 3.50 € le jeu en location !</p>
				</div>
			</div>
		</div>

		<div class="row">
			<!-- Single Features Area -->
			<%@games.each do |game|%>
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="single-features-area mb-50">
						<a href="/listing/<%=game.id%>"><img src="/assets/bg-img/feature-1.jpg" alt=""></a>
						<!-- Availability -->
						<div class="price-start">
							<p><%= game.copy_ids.count %> disponible(s)</p>
						</div>
						<div class="feature-content d-flex align-items-center justify-content-between">
							<div class="feature-title">
								<a href="/listing/<%=game.id%>"><h5><%= game.title %></h5>
									<p><% game.categories.each do |category| %>
										<%= category.title %>
									<% end%></p></a>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</section>
<!-- ***** Listing Destinations Area End ***** -->