<!-- ***** Single Listing Area Start ***** -->
    <section class="dorne-single-listing-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Single Listing Content -->
                <div class="col-12 col-lg-8">
                    <div class="single-listing-content">

                        <div class="listing-title">
                            <h1><%= @game.title %></h1>
                            <h6>De <%=@game.player_numbers[0].number_low%> à <%= @game.player_numbers[0].number_high%> joueurs</h6>
                            <br>
                            <%if @game.image.attached?%>
                            <%= image_tag(@game.image, class: "style_image") %>
                            <%else%>
                            <img class="centerimage" width="350px" height="740px" src="/assets/bg-img/feature-1.jpg" alt=""></a>
                            <%end%>
                           
                        <div class="overview-content mt-50">
                        <h4>Description :</h4>
                            <p><%= @game.description %></p>
                        </div>

                        </div>
                    <h4>Disponibilité :</h4>

                    <div id="map2"style="width: 700px; height: 500px;"></div>
                         <%if @copies[0]%>
                        <script>
                          // Note: This example requires that you consent to location sharing when
                          // prompted by your browser. If you see the error "The Geolocation service
                          // failed.", it means you probably did not give permission for the browser to
                          // locate you.
                          var lat = <%= raw @lat %>;
                          var long = <%= raw @long %>;
                          var copy = <%= raw @copy %>;
                          var proprio = <%= raw @proprio %>;
                          var max = lat.lenght;
                          console.log(proprio)
                          console.log(proprio[0])
                          console.log(typeof proprio[0])
                          var map, infoWindow, i, marker;
                          function initMap() {
                            map = new google.maps.Map(document.getElementById('map2'), {
                              center: {lat: 48.8566, lng: 2.3522},
                              zoom: 14
                            });
                            infoWindow = new google.maps.InfoWindow;

                            // Try HTML5 geolocation.
                            if (navigator.geolocation) {
                              navigator.geolocation.getCurrentPosition(function(position) {
                                var pos = {
                                  lat: position.coords.latitude,
                                  lng: position.coords.longitude
                                };
                        // Marker à la position

                                    var locations =
                                      [proprio, lat, long]
                                    ;
                                    console.log(locations)
                                var infowindow = new google.maps.InfoWindow();
                                var yourContent = new google.maps.InfoWindow({content:'&nbsp;&nbsp;&nbsp;<%= link_to "Louer", "/cart?id_add="+ @copy, class: "btn btn-warning",  method: :post%>'});
                                var marker, i;

                                for (i = 0; i < locations.length; i++) {  
                                  marker = new google.maps.Marker({
                                    position: new google.maps.LatLng(locations[1][i], locations[2][i]),
                                    map: map,
                                    animation: google.maps.Animation.DROP
                                  });


                                  google.maps.event.addListener(marker, 'click', (function(marker, i) {
                                    return function() {
                                      <% if user_signed_in? %>yourContent.open(map,marker)<%end%>;
                                    }
                                  })(marker, i));
                                }

                        // FIN marker à la position

                                    infoWindow.open(map);
                                    map.setCenter(pos);
                                  }, function() {
                                    handleLocationError(true, infoWindow, map.getCenter());
                                });

                            } else {
                            // Browser doesn't support Geolocation
                              handleLocationError(false, infoWindow, map.getCenter());
                            }
                          }

                          function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                            infoWindow.setPosition(pos);
                            infoWindow.setContent(browserHasGeolocation ?
                                                  'Error: The Geolocation service failed.' :
                                                  'Error: Your browser doesn\'t support geolocation.');
                            infoWindow.open(map);
                          }

                        </script>
                        
                        <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap">
                        </script>

                        <%else%>
                        <h3>Le jeu n'a pour le moment pas de copies disponible</h3>

                        <%end%>

                        <div class="listing-reviews-area mt-100">
                            <h4>Avis des joueurs : </h4>
                            <div class="single-review-area">
                                <div class="reviewer-meta d-flex align-items-center">
                                    <img src="img/clients-img/1.jpg" alt="">
                                    <div class="reviewer-content">
                                        <div class="review-title-ratings d-flex justify-content-between">
                                            <h5>“Partie de Monopoly entre amis”</h5>
                                            <div class="ratings">
                                                <img src="img/clients-img/star-fill.png" alt="">
                                                <img src="img/clients-img/star-fill.png" alt="">
                                                <img src="img/clients-img/star-fill.png" alt="">
                                                <img src="img/clients-img/star-fill.png" alt="">
                                                <img src="img/clients-img/star-fill.png" alt="">
                                            </div>
                                        </div>
                                        <p>Mes amis et moi conseillons de jouer avec Monopoly ! C'est un classique dans le genre mais avec les extenstions (Harry-Potter, Mario etc...) on a plus de fun ! La personne qui nous a loué en a plein d'autres comme ça ! On risque de retourner chez elle plus souvent !</p>
                                    </div>
                                </div>
                                <div class="reviewer-name">
                                    <h6>Christinne Smith</h6>
                                    <p>15 Décembre 2018</p>
                                </div>
                            </div>
                            <div class="single-review-area">
                                <div class="reviewer-meta d-flex align-items-center">
                                    <img src="img/clients-img/1.jpg" alt="">
                                    <div class="reviewer-content">
                                        <div class="review-title-ratings d-flex justify-content-between">
                                            <h5>“3 jeux en 1 soirée”</h5>
                                            <div class="ratings">
                                                <img src="img/clients-img/star-fill.png" alt="">
                                                <img src="img/clients-img/star-fill.png" alt="">
                                                <img src="img/clients-img/star-fill.png" alt="">
                                                <img src="img/clients-img/star-fill.png" alt="">
                                                <img src="img/clients-img/star-unfill.png" alt="">
                                            </div>
                                        </div>
                                        <p>Je viens de déménager et je n'ai plus de jeux. Finalement avec Colonel Moutarde on a pu se louer 3 jeux pour une semaine sans dépenser trop ! Jeux en très bons états et proprios charmants ! </p>
                                    </div>
                                </div>
                                <div class="reviewer-name">
                                    <h6>Michael Brown</h6>
                                    <p>16 Decembre 2018</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Listing Sidebar -->
                <div class="col-12 col-md-8 col-lg-4">
                    <div class="listing-sidebar">

                        <!-- Listing Verify -->
                        <div class="listing-verify">
                            <a data-toggle="modal" href="#modalChoice" class="btn dorne-btn w-100"><i class="fa fa-check pr-3"></i>
                                <% if @game.copies.count==0 %>
                                    Aucune copie disponible</a>
                                <% elsif @game.copies.count==1 %>
                                    Voir la copie disponible</a>
                                    <%= render 'modalchoice' %>
                                <% else %>
                                    Voir les <%= @game.copies.count %> copies disponibles</a>
                                    <%= render 'modalchoice' %>
                                <%end%>
                        </div>
                        <!-- Book A Table Widget -->
                        <div class="book-a-table-widget mt-50">
                            <h6 style="font-family:pacifico;font-size:30px;">Une autre envie ?</h6>
                            <form action="#" method="get">
                                <a id="search-btn" href="#"><button type="submit" class="btn dorne-btn bg-white text-dark"><i class="fa fa-search pr-2" aria-hidden="true"></i> Rechercher un jeu</button></a>
                                <br>
                            </form>
                        </div>

                        <!-- Book A Table Widget -->
                        <div class="book-a-table-widget mt-50">
                            <h6 style="font-family:pacifico;font-size:30px;"> Suivez-nous !</h6>
                            <form action="#" method="get">
                                <h6> Plus la communauté est grande plus il y a de fun !<h6>
                                <a href="https://fr-fr.facebook.com/thehackingproject/" class="iconsize">
                                <%=image_tag("icon-x.png" )%>
                                </a>
                                <a href="https://twitter.com/project_hacking" class="iconsize">
                                <%=image_tag("icon-y.png" )%>
                                </a>
                            </select>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>

