<h3> Résumé des commandes</h3>

<table class="table" style="color: black">
  <thead>
	  <tr>
      <td>N° de commande</td>
      <td>Réalisée par</td>
	  	<td>Prix</td>
      <td>Contenu de la commande</td>
      <td>Date</td>
		</tr>
	</thead>
  <tbody>
  <%if @orders[0]%>
    <% @orders.each do |order| %>
	    <tr id='element_<%=order.id%>', remote: true>
        <td>Commande <%=order.id%></td>
		    <td> <%=order.user.email%> </td>
		    <td><%= order.price  %></td>
        <td><p>
        <%order.copies.each_with_index do |copy, index|%>
        <%= copy.game.title  %>: <%=order.number_week[index]%> semaines , 
        <%end%>
        </p> </td>
			  <td><%=order.created_at%></td>
	    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>