<table class="table" style="color: white;">
  <thead>
	  <tr>
      <td>N° de commande</td>
      <td>Réalisée par</td>
	  	<td>Prix</td>
      <td>Contenu de la commande</td>
      <td>Date</td>
		</tr>
	</thead>
  <tbody>
  <%if @orders%>
    <% @orders.each do |order| %>
	    <tr id='element_<%=order.id%>', remote: true>
        <td>Commande <%=order.id%></td>
		    <td> <%=order.user.email%> </td>
		    <td><%= order.price  %></td>
        <td><p>
        <%order.items.each_with_index do |item, index|%>
        <%=order.quantities[index]%> x <%= item.title  %>, 
        <%end%>
        </p> </td>
			  <td><%=order.created_at%></td>
	    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>