
<table style=" table-layout: fixed">
  <thead>
    <tr>
      <th colspan="6"></th>

    </tr>
  </thead>

  <tbody>
    <%@games.each do |game|%>
      <tr >
        <td><a><%= game.title %></a></td>
        <%if game.image.attached? %>
          <td ><%= image_tag url_for(game.image), size: "200x200" %></td>
        <%else%> 
          <td ><img src="../assets/no_photo.svg" height="200" width="200" alt="pas de photos"></td>
        <%end%>
        <td><p class="text-justify px-2"><%=game.description[0..100]%> [...]</p></td>
        <%if game.categories[0]%>
          <td><p><%=game.genres[0].title %>, 
               <%= game.player_numbers[0].number_total %> joueurs,
               <%= game.ages[0].minimum %>+ , 
               <%= game.styles[0].sort %> , 
          </p></td>
        <%else%>
          <td>Catégorie invalide</td>
        <%end %>
        <td class= "p-2"><p>Tout est bon?</p> 
            <p><%= link_to 'Confirmer', "/confirm", :class =>"btn btn-info  mb-15", method: :patch %></p>
        </td>
        <td>
          <p>Des choses manquent?</p> 
          <p>&nbsp;&nbsp;&nbsp;<%= link_to 'Editer', edit_new_game_path(game), :class =>"btn btn-info   mb-15" %></p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

