<h4>Résumé de <%=@user.username%></h4>
<p>
  Mail: <%=@user.email%><br/>
  Tel: <%=@user.telephone%><br/>
  Adresse: <%=@user.address%><br/>
  Nombre de commandes: <%=@user.orders.count%>
</p>
<h4>Jeux présentements empruntés</h4>
<div class='d-flex flex-wrap rented'>
  <%if @active_orders[0]%>
    <%@active_orders.each do |order|%>
      <%order.copies.each_with_index do |copy, index|%>
        <%if order.renting[index]%>
          <div class='card col-3'>
            <% if copy.game.image.attached? %>
              <div class='card-img-top'><%= image_tag url_for(copy.game.image), size: "200x200" %></div>
            <%else%> 
              <div class='card-img-top'><img src="../assets/no_photo.svg" height="200" width="200" alt="pas de photos"></div>
            <%end%>
            <div class="card-body">
            <h5 class="card-title"><%=copy.game.title%></h5>
            <p class='card-text'><%=copy.return%></p>
            </div>
          </div>
        <%end%>
      <%end%>
    <%end%>
  <%end%>
</div>



     