<!-- ***** Breadcumb Area Start ***** -->
<div class="breadcumb-area bg-img bg-overlay">
</div>
<!-- ***** Breadcumb Area End ***** -->

<!-- ***** Header Area Start ***** -->
<header class="header_area" id="header">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-12 h-100">
        <nav class="h-100 navbar navbar-expand-lg">
          <a class="navbar-brand" href="/home/index"><%=image_tag("logo.png", :style => "width: 90; height: 90;")%></a>
          <a class="navbar-brand" href="/home/index"><%=image_tag("custom/logo2.png", :style => "width: 160px; height: 150px;")%></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dorneNav" aria-controls="dorneNav" aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
          <!-- Nav -->
          <div class="collapse navbar-collapse" id="dorneNav">
            <ul class="navbar-nav mr-auto" id="dorneMenu">
              <li class="nav-item active">
                <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/listing">Liste des jeux</a>
              </li>
            </ul>
            <!-- Search btn -->
            <div class="right">
            <div class="dorne-search-btn" style="padding-top:7px;">
              <a id="search-btn" href="#"><i class="fa fa-search" aria-hidden="true"></i>Chercher</a>
            </div>
              <% if current_user%>
                <% if current_user.admin?%>
                  <ul class="navbar-nav mr-auto" id="dorneMenu">
                    <li class="nav-item">
                      <a class="nav-link" href="/new_games">Proposer un jeu à louer</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/">Résumé admin</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Mes infos<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/dashboard">Mon historique</a>
                            <a><%= link_to "Editer mon compte", edit_user_registration_path, :class=>"dropdown-item" %></a>
                            <a><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, :class=>"dropdown-item" %></a>
                          </div>
                    </li>
                  </ul>
                <% else user_signed_in? %>
                  <ul class="navbar-nav mr-auto" id="dorneMenu">
                    <li class="nav-item dropdown" style="padding-right:10px;">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Mes infos<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/new_games">Proposer un jeu à louer</a>
                          <a><%= link_to "Editer mon compte", edit_user_registration_path, :class=>"dropdown-item" %></a>
                          <a><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, :class=>"dropdown-item" %></a>
                        </div>
                    </li>
                  </ul>
                <% end %>

              <% else %>
                <!-- Signin btn -->
                <ul class="navbar-nav mr-auto" id="dorneMenu">
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" href="#modalUp">S'enregistrer</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" href="#modalIn">Se connecter</a>
                  </li>
                </ul>
              <% end %>
              </div>
            <!-- Add listings btn -->
            <% if user_signed_in? %>
              <div class="dorne-add-listings-btn" >
                <a href="/dashboard" class="btn dorne-btn">Mon tableau de bord</a>
              </div>
                <div class="dorne-add-listings-btn">
                      <a class="nav-link"> </a>
              </div>
            <% end %>
          </div>
          </div>
        </nav>
      </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->