    <!-- ***** Features Events Area Start ***** -->
    <section class="dorne-features-events-area bg-img bg-overlay-9 section-padding-100-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h4>Les choix du colonel</h4>
                        <p style="font-size:19px;">Spécial Top de Noël !</p>
                        <br>
                        <span></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="single-feature-events-area d-sm-flex align-items-center wow fadeInUpBig" data-wow-delay="0.2s">
                        <div class="feature-events-thumb">
                            <%=image_tag("event-1.jpg" )%>
                            <div class="date-map-area d-flex">
                                <a href="/listing"><%=image_tag("map.png" )%></a>
                            </div>
                        </div>
                        <div class="feature-events-content">
                            <h5>Monopoly &#x1F385</h5>
                            <h6>2 joueurs et +</h6>
                            <p>Un classique dans le genre. Le Monopoly est un incontournable du mois de décembre !</p>
                        </div>
                        <div class="feature-events-details-btn">
                            <a href="/listing">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="single-feature-events-area d-sm-flex align-items-center wow fadeInUpBig" data-wow-delay="0.3s">
                        <div class="feature-events-thumb">
                            <%=image_tag("event-2.jpg" )%>
                            <div class="date-map-area d-flex">
                                <a href="/listing"><%=image_tag("map.png" )%></a>
                            </div>
                        </div>
                        <div class="feature-events-content">
                            <h5>Dixit &#x1F385</h5>
                            <h6>3 joueurs et +</h6>
                            <p>Un jeu qui devient culte. À découvrir en famille ou entre amis tout de suite ! </p>
                        </div>
                        <div class="feature-events-details-btn">
                            <a href="/listing">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="single-feature-events-area d-sm-flex align-items-center wow fadeInUpBig" data-wow-delay="0.4s">
                        <div class="feature-events-thumb">
                            <%=image_tag("event-3.jpg" )%>
                            <div class="date-map-area d-flex">
                                <a href="/listing"><%=image_tag("map.png" )%></a>
                            </div>
                        </div>
                        <div class="feature-events-content">
                            <h5>Trivial Pursuit &#x1F385</h5>
                            <h6>2 joueurs et +</h6>
                            <p>Parfait pour tester sa culture pendant les fêtes !</p>
                        </div>
                        <div class="feature-events-details-btn">
                            <a href="/listing">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="single-feature-events-area d-sm-flex align-items-center wow fadeInUpBig" data-wow-delay="0.5s">
                        <div class="feature-events-thumb">
                            <%=image_tag("event-4.jpg" )%>
                            <div class="date-map-area d-flex">
                                <a href="/listing"><%=image_tag("map.png" )%></a>
                            </div>
                        </div>
                        <div class="feature-events-content">
                            <h5>Docteur Maboul &#x1F385</h5>
                            <h6>1 joueur et +</h6>
                            <p>Quoi de mieux en attendant le père Noël que de jouer avec Docteur Maboul !</p>
                        </div>
                        <div class="feature-events-details-btn">
                            <a href="/listing">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="single-feature-events-area d-sm-flex align-items-center wow fadeInUpBig" data-wow-delay="0.6s">
                        <div class="feature-events-thumb">
                            <%=image_tag("event-5.jpg" )%>
                            <div class="date-map-area d-flex">
                                <a href="/listing"><%=image_tag("map.png" )%></a>
                            </div>
                        </div>
                        <div class="feature-events-content">
                            <h5>Jenga &#x1F385</h5>
                            <h6>2 joueurs et +</h6>
                            <p>Ici on joue avec notre dextérité ! Beaucoup de fun avec Jenga chez #CM !</p>
                        </div>
                        <div class="feature-events-details-btn">
                            <a href="/listing">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="single-feature-events-area d-sm-flex align-items-center wow fadeInUpBig" data-wow-delay="0.7s">
                        <div class="feature-events-thumb">
                            <%=image_tag("event-6.jpg" )%>
                            <div class="date-map-area d-flex">
                                <a href="/listing"><%=image_tag("map.png" )%></a>
                            </div>
                        </div>
                        <div class="feature-events-content">
                            <h5>Jungle Speed &#x1F385</h5>
                            <h6>3 joueurs et +</h6>
                            <p> Jeu qui joue avec les reflexes et les nerfs :) </p>
                        </div>
                        <div class="feature-events-details-btn">
                            <a href="/listing">+</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Events Area End ***** -->