    <!-- ***** Features Events Area Start ***** -->
    <section class="dorne-features-events-area bg-img bg-overlay-9 section-padding-100-50" style="background-image: url(hero-3.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <span></span>
                        <h4>Les choix du colonel</h4>
                        <p>Ce mois-ci</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="single-feature-events-area d-sm-flex align-items-center wow fadeInUpBig" data-wow-delay="0.2s">
                        <div class="feature-events-thumb">
                            <%=image_tag("event-1.jpg" )%>
                            <div class="date-map-area d-flex">
                                <a href="#">26 Nov</a>
                                <a href="#"><%=image_tag("map.png" )%></a>
                            </div>
                        </div>
                        <div class="feature-events-content">
                            <h5>Monopoly</h5>
                            <h6>Catégorie ....</h6>
                            <p>Le Monopoly est un jeu de société américain édité par Hasbro. Le but du jeu consiste à ruiner ses concurrents...</p>
                        </div>
                        <div class="feature-events-details-btn">
                            <a href="#">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="single-feature-events-area d-sm-flex align-items-center wow fadeInUpBig" data-wow-delay="0.3s">
                        <div class="feature-events-thumb">
                            <%=image_tag("event-2.jpg" )%>
                            <div class="date-map-area d-flex">
                                <a href="#">26 Nov</a>
                                <a href="#"><%=image_tag("map.png" )%></a>
                            </div>
                        </div>
                        <div class="feature-events-content">
                            <h5>Cluedo</h5>
                            <h6>Catégorie ....</h6>
                            <p>En début de partie on classe les différentes cartes indices par type (suspects / armes / lieux)...</p>
                        </div>
                        <div class="feature-events-details-btn">
                            <a href="#">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="single-feature-events-area d-sm-flex align-items-center wow fadeInUpBig" data-wow-delay="0.4s">
                        <div class="feature-events-thumb">
                            <%=image_tag("event-3.jpg" )%>
                            <div class="date-map-area d-flex">
                                <a href="#">26 Nov</a>
                                <a href="#"><%=image_tag("map.png" )%></a>
                            </div>
                        </div>
                        <div class="feature-events-content">
                            <h5>Trivial Pursuit</h5>
                            <h6>Catégorie ....</h6>
                            <p>Le plateau consiste en cases arrangées sous la forme d'une roue, avec six « rayons »...</p>
                        </div>
                        <div class="feature-events-details-btn">
                            <a href="#">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="single-feature-events-area d-sm-flex align-items-center wow fadeInUpBig" data-wow-delay="0.5s">
                        <div class="feature-events-thumb">
                            <%=image_tag("event-4.jpg" )%>
                            <div class="date-map-area d-flex">
                                <a href="#">26 Nov</a>
                                <a href="#"><%=image_tag("map.png" )%></a>
                            </div>
                        </div>
                        <div class="feature-events-content">
                            <h5>Scrabble</h5>
                            <h6>Catégorie ....</h6>
                            <p>Le Scrabble est un jeu de société et un jeu de lettres où l'objectif est de cumuler des points...</p>
                        </div>
                        <div class="feature-events-details-btn">
                            <a href="#">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="single-feature-events-area d-sm-flex align-items-center wow fadeInUpBig" data-wow-delay="0.6s">
                        <div class="feature-events-thumb">
                            <%=image_tag("event-5.jpg" )%>
                            <div class="date-map-area d-flex">
                                <a href="#">26 Nov</a>
                                <a href="#"><%=image_tag("map.png" )%></a>
                            </div>
                        </div>
                        <div class="feature-events-content">
                            <h5>Dixit</h5>
                            <h6>Catégorie ....</h6>
                            <p>Le jeu est composé de 84 cartes illustrées et sans texte, toutes strictement différentes...</p>
                        </div>
                        <div class="feature-events-details-btn">
                            <a href="#">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="single-feature-events-area d-sm-flex align-items-center wow fadeInUpBig" data-wow-delay="0.7s">
                        <div class="feature-events-thumb">
                            <%=image_tag("event-6.jpg" )%>
                            <div class="date-map-area d-flex">
                                <a href="#">26 Nov</a>
                                <a href="#"><%=image_tag("map.png" )%></a>
                            </div>
                        </div>
                        <div class="feature-events-content">
                            <h5>Jungle Speed</h5>
                            <h6>Catégorie ....</h6>
                            <p>Le jeu de base se compose de 80 cartes. Il contient plusieurs cartes de symboles différentes répartis en 4 couleurs ...</p>
                        </div>
                        <div class="feature-events-details-btn">
                            <a href="#">+</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Events Area End ***** -->