    <!-- ***** Welcome Area Start ***** -->
    <section class="dorne-welcome-area bg-img bg-overlay">
         <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12 col-md-10">
                    <div class="hero-content">
                        <h2>Louez vos jeux préférés !</h2>
                        <h4>Entre particuliers, partout en France ! </h4>
                    </div>
                    <!-- Hero Search Form -->
                    <div class="hero-search-form">
                        <!-- Tabs -->
                        <div class="nav nav-tabs" id="heroTab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-places-tab" data-toggle="tab" href="#nav-places" role="tab" aria-controls="nav-places" aria-selected="true">&nbsp;&nbsp;&nbsp;Se connecter&nbsp;&nbsp;&nbsp;</a>
                            <a class="nav-item nav-link" id="nav-events-tab" data-toggle="tab" href="#nav-events" role="tab" aria-controls="nav-events" aria-selected="false">&nbsp;&nbsp;&nbsp;S'enregistrer&nbsp;&nbsp;&nbsp;</a>
                        </div>
                        <!-- Tabs Content -->
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-places" role="tabpanel" aria-labelledby="nav-places-tab">
                                <h5>Se connecter</h5>
                                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <div class="">
                          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "nom@exemple.com", class: "form-control" %>
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="field">
                          <%= f.password_field :password, autocomplete: "current-password", placeholder: "Mot de passe", class: "form-control" %>
                        </div>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <% if devise_mapping.rememberable? -%>
                          <div class="field">
                            <%= f.check_box :remember_me %>
                            <%= f.label :remember_me %>
                          </div>
                        <% end -%>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="actions">
                          <%= f.submit "Se connecter" , :class => 'dorne-btn' %>
                          <br/><br/>
                        </div>
                      <% end %>
                            </div>
                            <div class="tab-pane fade" id="nav-events" role="tabpanel" aria-labelledby="nav-events-tab">
                               <h5>S'enregistrer</h5>
                              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                              <%= devise_error_messages! %>

                              <div class="row">
                                <div class="col-12 col-md-6">
                                  <div class="field">
                                    <%= f.label :pseudo %><br />
                                    <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "Nom", class: "form-control"  %>
                                  </div>
                                </div>

                                <div class="col-12 col-md-6">
                                  <div class="field">
                                    <%= f.label :email %><br />
                                    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "nom@exemple.com", class: "form-control"  %>
                                  </div>
                                </div>

                                <div class="col-12 col-md-6">
                                  <div class="field">
                                    <%= f.label :mot_de_passe %>
                                    <% if @minimum_password_length %>
                                      <em>(<%= @minimum_password_length %> caractères minimum)</em>
                                    <% end %><br />
                                    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Min. 6 caractères", class: "form-control" %>
                                  </div>
                                </div>

                                <div class="col-12 col-md-6">
                                  <div class="field">
                                    <%= f.label :confirmation_du_mot_de_passe %><br />
                                    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirmation", class: "form-control" %>
                                    <br>
                                  </div>
                                </div>
                              <div class="actions">
                                <%= f.submit "S'enregistrer" , :class => 'dorne-btn' %>
                              </div>
                            </div>
                            <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Social Btn -->
        <div class="hero-social-btn">
            <div class="social-title d-flex align-items-center">
                <h6>Suivez-nous sur <a href="https://fr-fr.facebook.com/thehackingproject/">Facebook</a></h6>
                <span></span>
            </div>
            <div class="social-btns">
                <a href="#"><i class="fa fa-linkedin" aria-haspopup="true"></i></a>
                <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-haspopup="true"></i></a>
                <a href="#"><i class="fa fa-facebook" aria-haspopup="true"></i></a>
            </div>
        </div>
    </section>
    <!-- ***** Welcome Area End ***** -->