<!-- ***** Features Greanoble Area Start ***** -->
    <section class="dorne-features-grenoble-area bg-default">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <span></span>
                        <h4>CONTACT :</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                  <div class="features-slides owl-carousel owl-loaded owl-drag">
                        <!-- team Grenoble -->
                        <div class="owl-stage-outer">
                         <div class="owl-stage" style=";">
                          <div class="owl-item cloned" style="width: 197.4px; margin-right: 50px;">
                   
                        <div class="single-features-area"> 
                            <%=image_tag("feature-6.jpg" )%> 
                            <!-- the team1 -->
                            
                            <div class="feature-content d-flex align-items-center justify-content-between">
                                <div class="feature-title">
                                    <h5>Guillaume Pichot</h5>
                                    <p>Assistant manager</p>
                                </div>
                            </div>
                        </div>

                        <div class="single-features-area"> 
                            <%=image_tag("feature-7.jpg" )%> 
                            <!-- the team2 -->
                            
                            <div class="feature-content d-flex align-items-center justify-content-between">
                                <div class="feature-title">
                                    <h5>Samuel Assani</h5>
                                    <p>Assistant manager</p>
                                </div>
                            </div>
                        </div>

                        <div class="single-features-area"> 
                            <%=image_tag("feature-8.jpg" )%> 
                            <!-- the team3 -->
                            
                            <div class="feature-content d-flex align-items-center justify-content-between">
                                <div class="feature-title">
                                    <h5>Romain Recher</h5>
                                    <p>Assistant manager</p>
                                </div>
                            </div>
                        </div>
                              
                        <div class="single-features-area"> 
                            <%=image_tag("feature-9.jpg" )%> 
                            <!-- the team4 -->
                            
                            <div class="feature-content d-flex align-items-center justify-content-between">
                                <div class="feature-title">
                                    <h5>Hai Dang HA THUC</h5>
                                    <p>Assistant manager</p>
                                </div>
                            </div>
                        </div>

                        <div class="single-features-area"> 
                            <%=image_tag("feature-10.jpg" )%> 
                            <!-- the team5 -->
                            
                            <div class="feature-content d-flex align-items-center justify-content-between">
                                <div class="feature-title">
                                    <h5>Meghzili Fayçal</h5>
                                    <p>Assistant manager</p>
                                </div>
                            </div>
                        </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features grenoble Area End ***** -->