<div class="dorne-contact-area d-md-flex" id="contact">
  <!-- Contact Form Area -->
  <div class="contact-form-area equal-height">
    <div class="contact-form">
    <h5>Se connecter</h5>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
  <br>
    <div class="actions">
      <%= f.submit "Se connecter" , :class => 'dorne-btn' %>
    </div>
  <% end %>
  <br>
    <div class="d-flex justify-content">
      <p>Pas encore de compte ?
      <a href="/users/sign_up" style="color: grey">Enregistre-toi !</a></p>
    </div>
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <div class="d-flex justify-content">
        <p><%= link_to "Mot de passe oublié ?", new_password_path(resource_name), :style => "color: grey" %></p>
      </div>
    <% end -%>
  </div>
</div>
