<%= form_with(model: @new_games, local: true) do |form| %>
  <% if @new_game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(new_game.errors.count, "error") %> prohibited this new_game from being saved:</h2>

      <ul>
      <% new_game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= form.label :description %>
    <%= form.text_area :description %>
    <table>
      <thead>
        <tr>
          <th><%= form.label :categories %></th>
          <th><%= form.label :genre %></th>
          <th><%= form.label :style %></th>
          <th><%= form.label :age %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= form.select :categories, ['game_id', 'genre_id']%></td>
          <td><option><%= form_for(:genre) do |f| %>
              <%= f.collection_select :title, Genre.order(:title), :title, :title, :include_blank => false, class: 'navbarDropdown' %></option></td>
              <% end %>
          <td><%= form.collection_select :sort, Style.order(:sort),:sort,:sort, include_blank: true %></td>
          <td><%= form.collection_select :minimum, Age.order(1),:minimum, :minimum, include_blank: true %></td>
        </tr>
      </tbody>
    </table>
    <%= form.label :image %>
    <%= form.file_field :image %>
</div>


  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>