
<p id="notice"><%= notice %></p> 

<div class="d-flex justify-content-center">
<!-- Contact Form Area -->
<div class="contact-form-area equal-height">
  <div class="contact-form">

<h1>Jeux en base de données</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @add_games.each do |new_game| %>
      <tr>
     <% if new_game.image.attached? %>
      <td><a><%= new_game.title %></a></td>
        <td><%= image_tag url_for(Game.find_by_id([new_game]).image) %></td>
        <td><p><%= new_game.description.truncate_words(10) %></p></td>
        <td><%= link_to 'Show', new_game_path(new_game), :class =>"btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_new_game_path(new_game), :class =>"btn btn-light" %></td>
        <td><%= link_to 'Destroy', "/new_games/"+new_game.id.to_s , method: :delete, data: { confirm: 'Supprimé définitivement ?' }, :class =>"btn btn-danger" %></td>
      <%else%>
        <td><a><%= new_game.title %></a></td>
        <td><img src="../assets/no_photo.svg" alt="pas de photos"></td>
        <td><p><%= new_game.description.truncate_words(10) %></p></td>
        <td><%= link_to 'Show', new_game_path(new_game), :class =>"btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_new_game_path(new_game), :class =>"btn btn-light" %></td>
        <td><%= link_to 'Destroy', "/new_games/"+new_game.id.to_s , method: :delete, data: { confirm: 'Supprimé définitivement ?' }, :class =>"btn btn-danger" %></td>
      <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
</div>
</div>

<%= link_to 'New Game', new_new_game_path %>
