
<p id="notice"><%= notice %></p> 

<div class="d-flex justify-content-center">
<!-- Contact Form Area -->
<div class="contact-form-area equal-height">
  <div class="contact-form">

<h1> Ajouter un nouveau jeu</h1>
<br/>
<%= link_to 'New_game', "/new_games/new", :class =>"btn btn-info" %>
<br/>
<br/>
<h1>Jeux en base de données</h1>

<table style=" table-layout: fixed">
  <thead>
    <tr>
      <th colspan="7"></th>

    </tr>
  </thead>

  <tbody>
    <% @add_games.each do |new_game| %>
      <tr >
        <td><a><%= new_game.title %></a></td>
        <% if new_game.image.attached? %>
          <td class= "px-2"><%= image_tag url_for(Game.find_by_id([new_game]).image), size: "200x200" %></td>
        <%else%> 
          <td class= "px-2"><img src="../assets/no_photo.svg" height="200" width="200" alt="pas de photos"></td>
        <%end%>
        <td><p class="text-justify px-2"><%=new_game.description[0..100]%> [...]</p></td>
        <%if new_game.categories[0]%>
          <td><p><%=new_game.genres[0].title %>, 
               <%= new_game.player_numbers[0].number_total %> joueurs,
               <%= new_game.ages[0].minimum %>+ , 
               <%= new_game.styles[0].sort %> , 
          </p></td>
        <%else%>
          <td>Catégorie invalide</td>
        <%end %>
        <td class= "px-2"><p><%=new_game.confirm%></p></td>
        <td class="mb-15"><%= link_to 'Show', new_game_path(new_game), :class =>"btn btn-info  mb-15" %></td>
        <td><%= link_to 'Edit', edit_new_game_path(new_game), :class =>"btn btn-light mb-15" %></td>
        <td><%= link_to 'Destroy', "/new_games/"+new_game.id.to_s , method: :delete, data: { confirm: 'Are you sure?' }, :class =>"btn btn-danger  mb-15" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
</div>
</div>

<%= link_to 'New Game', new_new_game_path %>
